//COLORS
$color-primary: #eb2f64;
$color-primary-1: #BD1E51;
$color-primary-light: #FF3366;
$color-primary-dark: #BA2650;
$color-primary-dark-1: #490B3D;

$color-secondary: #F1B814;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff; 